.blue-box{
    
    background-image: url(../img/Recurso-30.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.green-box{
    
    background-image: url(../img/Recurso-28.png);
    background-size:contain;
    background-repeat: no-repeat;
}